# Entorno virtual
BACKEND/venv/

# Archivos de configuración sensibles
BACKEND/.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de base de datos locales
*.sqlite3

# Archivos de sistema (Linux/Mac/Windows)
.DS_Store
Thumbs.db
